@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 200 500 700;
  /* use 400 if single-weight */
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #1e1e1e;
  --foreground: #fff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", ui-sans-serif, system-ui, -apple-system,
    "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

h1 {
  font-family: "Clash Display", ui-sans-serif, system-ui, -apple-system,
    "Segoe UI", Roboto, "Helvetica Neue", Arial;
  line-height: 57px;
  font-weight: 500;
}

p {
  line-height: 27px;
}